.productsRow__container{
    max-width: 90%;
    margin: 0 auto;
}
.productsRow__container__heading{
    margin-bottom: 20px;
    text-align: center;
}
.eachRow_deatils{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
    margin: 0 1rem 3rem 1rem;
    
    
}
.eachRow_deatils::-webkit-scrollbar{
    display: none;
}
h5.productCategory__name{
    font-size: 20px;
    margin: 0px 0 0 20px;
}


@media only screen and (max-width: 600px) {
    .productsRow__container{
        max-width: 100%;
    }
    .productsRow__container__heading{
        font-size: 24px;

    }
    .eachRow_deatils{
        gap: 0.5rem;
        margin: 0 0.5rem 1rem 0.1rem;
    }
    h5.productCategory__name{
        font-size: 16px;
        margin: 0px 0 0 20px;
    }
    
    
.eachRow_deatils img.productCategory__image{
    height: 200px;
    width: 200px;
}
.eachProduct__details_container{
    margin: 10px 10px;
}

.eachProduct__detail span{
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    
}


}