.productsRow__container{
    max-width: 90%;
    margin: 0 auto;
}
.productsRow__container__heading{
    margin-bottom: 20px;
    text-align: center;
}
.eachRow_deatils{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
    margin: 0 1rem 3rem 1rem;
    
    
}
.eachRow_deatils::-webkit-scrollbar{
    display: none;
}
h5.productCategory__name{
    font-size: 20px;
    margin: 0px 0 0 20px;
}

.eachRow_deatils img.productCategory__image{
    cursor: pointer;
    margin-top: 1px;
    height: 300px;
    width: 300px;
}

.eachProduct__details_container{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}


.eachProduct__detail{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 0 5px;
}


.eachProduct__detail p{
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    
}
.eachProduct_rating_brand   
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bold{
    font-weight: 600;

}
.bold_semi{
    font-weight: 500;
}


.eachProduct_price_discount{
    display: flex;
    justify-content: space-between;
}
.eachProduct_total_discount{
    text-decoration: line-through;
    margin-left: 10px;
}
span.discount_value{
    font-size: 15px;
    color: red;
}
span.eachProduct_price{
    font-size: 15px;
    color: green;
}