.productsCategory__container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
}

.productsCategory__container::-webkit-scrollbar{
    display: none;
}

.productsCategory__container .productCategory__details{
    text-align: center;
    flex-basis: 100%;
    cursor: pointer;
    padding: 0 10px;
}

.productCategory__details .productCategory__image {
    width: 200px;
    height: 150px;
    margin: 20px 0;
    transition: scale 0.255s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productCategory__details .productCategory__image:hover {
    scale: 1.1;
}
.productCategory__details .productCategory__image img {
 height: 100%;
 width: 100%;
}
.productCategory__name{
    font-size: 14px;
    color: #111;
}


@media only screen and (max-width: 600px) {
    .productsCategory__container{
        gap: 5px;
    } 
    .productsCategory__container .productCategory__details{
        padding: 0 5px;
    }
    .productCategory__details .productCategory__image {
        width: 100px;
        height: 50px;
        margin: 20px 0;
    }
    .productCategory__name{
        font-size: 12px;
    }

}


@media (min-width: 600px) and (max-width: 768px) {
    .productsCategory__container{
        gap: 5px;
    } 
    .productCategory__details .productCategory__image {
        width: 130px;
        height: 80px;
        margin: 20px 0;
    }
    .productsCategory__container .productCategory__details{
        padding: 0 5px;
    }
    .productCategory__name{
        font-size: 12px;
    }
}