.productsCategory__container{
    width: 100%;
    height: 230px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
}

.productsCategory__container::-webkit-scrollbar{
    display: none;
}

.productCategory__details{
    text-align: center;
    flex-basis: 100%;
    cursor: pointer;
    padding: 0 10px;
}

.productCategory__details .productCategory__image {
    width: 200px;
    height: 150px;
    margin: 20px 0;
    transition: scale 0.255s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productCategory__details .productCategory__image:hover {
    scale: 1.1;
}
.productCategory__details .productCategory__image img {
 height: 100%;
 width: 100%;
}
.productCategory__name{
    font-size: 14px;
}