.product_container {
    padding-top: 80px;
    display: flex;


}

.product_category_section {
    height: 100%;
    width: 20%;
    position: sticky;
    top: 90px;
}

.product_category_section::-webkit-scrollbar {
    display: none;
}

.product_featured {
    width: 75%;
    margin: 0 0 0 auto;

}


@media only screen and (max-width: 600px) {
    .product_container {
        flex-direction: column;
    }

    .product_category_section {
        width: 90%;
        top: 80px;
        background: #F4F4F2;
        left: 2.5%;
    }

    .product_featured {
        width: 75%;
        margin: 0 auto;

    }
}



@media (min-width: 601px) and (max-width: 768px) {
    .product_container {
        flex-direction: column;
    }

    .product_category_section {
        width: 90%;
        top: 80px;
        background: #F4F4F2;
        left: 2.5%;
    }

    .product_featured {
        width: 75%;
        margin: 0 auto;

    }
}