.product_container{
    padding-top: 80px;
    display: flex;
    
    
}
.product_category_section{
    height: 100%;
    width: 20%;
    position: sticky;
    top: 90px;
}
.product_category_section::-webkit-scrollbar{
    display: none;
}
.product_featured{
    width: 75%;
    margin: 0 0 0 auto;

}