.serviceSection_container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.serviceSection_row{
    display: flex;
    justify-content: space-around;
}
.serviceSection_bottomRow{
    justify-content: space-evenly;
}   