.service_container{
    padding-top: 80px;
}
.servicePoints_container
{
    /* background-color: #111; */
    /* color: white; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    margin-top: 10px;
}
.service_image{
    font-size: 50px;
    margin-top: 15px;
}
.service_serialNo{
    font-size: 30px;
    border: 2px solid #111;
    border-radius: 50%;
    padding: 5px 15px;
    margin-left: 20p;
}
.service_icon{

    transform: rotateY(180deg);
}
.approvalIcon,.shieldIcon{
    transform: rotateY(0deg);
}
