.serviceData_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.icon_serialNo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.divider_description{
    display: flex;
    /* justify-content: center; */
}
.divider_container{
    flex: 0.5;
    display: flex;
}

.divider{
    height: 250px;
    width: 2px;
    background-color: #111;
}

.serviceData_description{
    margin: auto;
    flex: 0.5;
}
.serviceData_description p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;

}

@media only screen and (max-width:600px) {
    .service_serialNo{
        margin-right: 10px;
        border-radius: 50%;
        padding: 5px 11px;
        font-size: 20px;
    }
    
    .divider_container{
      display: none;
    }
    .serviceData_description{
        margin-bottom: 50px;
       
    }.serviceData_description p{
        font-size: 15px;
    
    }
}

@media (min-width: 601px) and (max-width:768px) {
    .service_serialNo{
        padding: 5px 13px;
        font-size: 25px;
    }
    
    .divider_container{
      display: none;
    }
    .serviceData_description{
        margin-bottom: 50px;
       
    }.serviceData_description p{
        width: 90%;
        font-size: 16px;
        margin: 0 auto;
    
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    .service_serialNo{
        padding: 5px 13px;
        font-size: 25px;
    }
    
    .divider_container{
      display: none;
    }
    .serviceData_description{
        margin-bottom: 50px;
       
    }.serviceData_description p{
        width: 90%;
        font-size: 16px;
        margin: 0 auto;
    
    }
}