.QNA_container{
    height: 70vh;
    display: flex;
        justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.QNA_heading{
    text-align: center;
    margin-bottom: 50px;
}