.serviceData_container{
    text-align: center;

}
.serviceData_data{
    font-size: 40px;
    color: green;
}
.serviceData_title{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}


@media only screen and (max-width: 600px){
    .serviceData_data{
        font-size: 20px;
    }
    .serviceData_title{
        font-size: 10px;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    .serviceData_data{
        font-size: 30px;
    }
    .serviceData_title{
        font-size: 15px;
    }
}