.ProductCategory__container{
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.productCategory_ul{
    height:70vh;
    overflow-y: scroll;
}
.productCategory_ul::-webkit-scrollbar{
    display: none;
}



.productCategory_heading{
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid #111;
    font-size: 30px;
    
}





.categories{
    padding: 20px 10%;
    margin-bottom: 5px;
    color: #111;
    cursor: pointer;
    transition: all 0.255s;
    /* width: max-content; */
    width: 100%;

    display: block;
}

.categories:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    background-color: #F4F4F2;
}


.categories:last-child{
    border-bottom:none;
}




@media only screen and (max-width: 600px) {
    .ProductCategory__container{
        border-radius: 10px;
        margin-top: 10px;
    }
    .productCategory_ul{
        height:8vh;
        overflow-y: scroll;
    }
    

.productCategory_heading{
    padding: 10px 5%;
    font-size: 18px;
    
    
}
.categories{
    display: flex;
    width: max-content;
    padding: 10px 5%;
    flex-basis: auto;
    margin: 10px 5px 0 15px;
}

.productCategory_li{
    display: flex;
    align-items: center;
}


}


@media (min-width: 601px) and (max-width: 768px) {
    .ProductCategory__container{
        border-radius: 15px;
        margin-top: 10px;
    }
    .productCategory_ul{
        height:10vh;
        overflow-y: scroll;
    }
    

.productCategory_heading{
    padding: 10px 5%;
    font-size: 22px;
    
    
}
.categories{
    display: flex;
   width: max-content;
    padding: 10px 5%;
    flex-basis: auto;
    margin: 10px 5px 0 15px;
}

.productCategory_li{
    display: flex;
    align-items: center;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
    .ProductCategory__container{
        border-radius: 15px;
        margin-top: 10px;
    }
    .productCategory_ul{
        height:10vh;
        overflow-y: scroll;
    }
    

.productCategory_heading{
    padding: 10px 5%;
    font-size: 22px;
    
    
}
.categories{
    display: flex;
   width: max-content;
    padding: 10px 5%;
    flex-basis: auto;
    margin: 10px 5px 0 15px;
}

.productCategory_li{
    display: flex;
    align-items: center;
}
}