
.singleProductHeading__container{
    height: 5vh;
    font-size: 30px;
    display: flex;
    padding: 0 20px;
}


.goBack__link{
    color: #111;
    margin-right: 10px;
    
}



.goBack__link::after{
    content: "/";
}

.singleProduct__title{
    color: rgb(98 84 243);
}