.footer__container{
    background-color: #1C1E26;
    height: 50vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: white;
    padding-top: 5%;
    position: relative;
}

.footer_center_details{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer_logo_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_logo{
    height: 200px;
    width: 200px;
}

.footer_logo img{
    height: 100%;
    width: 100%;
}

.footer_name{
    font-size: 30px;
    border-top: 1px solid gray;
}

.footer_contacts{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_contact{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.footer_contact_Icon{
    margin-right: 10px;
}
.divider{
    height: 100%;
    width: 1px;
    background-color: gray;
}

.footer_bottom{
    position: absolute;
    bottom: 0;
    font-weight: 600;
    background-color: rgb(37, 30, 30);
    width: 100%;
    text-align: center;
    padding: 20px;
}