.homeBannerContainer{
    overflow-x: hidden;
    overflow-y: hidden;
}

.homeBanner{
    width: 100vw;
}

.homeBannerImage {
    width: 100%;
}
.carousel{
    cursor: pointer;
}
.carousel li.thumb{
    display: none;
}
.carousel p.carousel-status {
    display: none;
}


.control-arrow {
    display: none;
}

.carousel ul.control-dots {
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .homeBannerContainer{
        width: 100vw;
    }
    .homeBanner{
        display: flex;
        width: 100%;
    }
  }