
.service_banner{
    width: 100%;
    /* background-color: black; */
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 30px;


}

.service_banner .service_banner_heading{
    flex: 0.4;    
    font-size: 50px;
    margin: 0 auto ;
}

.typedWord{
    display: block;
    height: 80px;
    color: #2F79BE;
}

.service_banner img{
    flex: 0.5;    
    /* object-fit: contain; */
    width: 50%;
    height: 100%;
}


@media only screen and (max-width: 600px){
   .service_banner{
    flex-direction: column-reverse;
    justify-content: space-around;

   }
   .service_banner .service_banner_heading{
    font-size: 30px;
    text-align: center;

    /* border: 1px solid #000; */
}

.typedWord{
    height: 50px;
}
.service_banner img{
    /* object-fit: contain; */
    width: 100%;
}
}

@media (min-width:601px) and (max-width: 768px){
   .service_banner{
    flex-direction: column-reverse;

   }
   .service_banner .service_banner_heading{
    font-size: 30px;
    text-align: center;

    /* border: 1px solid #000; */
}

.typedWord{
    height: 50px;
}
.service_banner img{
    /* object-fit: contain; */
    width: 100%;
}
}